<div class="container">
  <p id="notice"><%= notice %></p>

  <p class="lead">
    <b>Username:</b>
    <%= @user.username %>
  </p>

  <p class="lead">
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p class="lead">
    <b>Display:</b>
    <%= @user.display_name %>
  </p>

<%= link_to 'Edit', edit_user_path(@user) %>
</div>
