<h2><%= @category.name.capitalize %></h2>
</br>
<%= link_to "Edit Photo", edit_dashboard_category_path(@category) %>
</br>
<%= image_tag @category.photo_url.to_s %>

<hr>
<p>
  <table border="1">
    <th>Product Title</th>
    <th>Product Price</th>
    <% @category.products.each do |product| %>
      <tr>
        <td><%= link_to(product.title, dashboard_product_path(product)) %></td>
        <td><%= number_to_currency(product.price/100.0) %></td>
      </tr>
    <% end %>
  </table>
</p>
