<h1>Order History for <%= current_user.username.capitalize %></h1>

<table class="table">
  <th>Number</th>
  <th>Status</th>
  <th>Subtotal</th>
<% @orders.each do |order| %>
    <tr>
      <td>
        Order #<%= link_to order.id.to_s.rjust(7,"0"), order_path(order) %>, <%= time_ago_in_words(order.created_at) %>
      </td>
      <td>
        <%= order.status %>
      </td>
      <td>
        <%= number_to_currency(order.subtotal/100.00) %>
      </td>
    </tr>
<% end %>
</table>
