<h1>Order Confirmation</h1>


Order Status: <%= @order.status.capitalize %>  |   Updated <%= distance_of_time_in_words_to_now(@order.updated_at) %> ago
<hr>
<% @order.line_items.each_with_index do |line_item, i| %>
</br>
<hr>
  <h5>Item: <%= i + 1 %></h5>
  <ul>
    <li>title: <%= link_to line_item.product.title, product_path(line_item.product) %></li>
    <li>quantity: <%= line_item.quantity %></li>
    <li>unit_price_cents: <%= line_item.unit_price_cents %></li>
    <li>subtotal: <%= line_item.subtotal %></li>
  </ul>

<% end %>

<%= link_to("Pay Now", "#")%>
<%= link_to("Back to Cart", cart_path)%>

<!-- on that order display page there are:
products with quantity ordered and line-item subtotals
links to each product page
the current status
order total price
date/time order was submitted
if shipped or cancelled, display a timestamp when that action took place
if any product is retired:
they can still access the product page
they cannot add it to a new cart -->
