<p id="notice"><%= notice %></p>
<ul>
  <li>title:<%= @promotion.title %></li>
  <li>percent:<%= @promotion.percent %></li>
  <li>Product:<%= @promotion.product.title %></li>
  <li>Start<%= @promotion.start %></li>
  <li>End <%= @promotion.end %></li>
</ul>
<%= link_to 'Back', dashboard_promotions_path %>
