<p id="notice"><%= notice %></p>

  <%= @promotion.title %>
  <%= @promotion.percent %>
  <%= @promotion.product %>
  <%= @promotion.start %>
  <%= @promotion.end %>

<%= link_to 'Back', dashboard_promotions_path %>
