<div class="container well" id="cart_confirmation">
  <h3> Shopping Cart(<%= @shopping_cart.count %> items)</h3>
    <% if @shopping_cart.count > 0 %>
    </br>
      <% @shopping_cart.each do |product,count| %>
          <h4><%= link_to( product.title, product_path(product) )%></h4>
          <p><%= button_to "Remove", cart_path(remove: true, id: product.id), :method => "put" %></p>
          <p><%= product.description %></p>
          <p>Quantity: <%= count %>
          <%= link_to "+", cart_path( increase: 1, id: product.id), method: "put", class:'button', id: "increase_count"  %>
          <%= link_to "-", cart_path( decrease: 1, id: product.id), method: "put", class:'button', id: "decrease_count"  %></p>
          Unit Price: $<%= product.price / 100.00 %>
      <% end %>

      <div id="cart_subtotal">
        <h4>Subtotal</h4>
        $<%= subtotal(@shopping_cart) %>
      </div>
    <% end %>

      <%=  link_to "Checkout", orders_path, method:"post", class:"pull-right btn" %>


</div>
