<%= form_for(@product, :url => dashboard_products_path) do |f| %>
  <ul>
  <% @product.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :long_description %><br />
    <%= f.text_area :long_description, rows: 3, placeholder: "Put words in me!" %>
  </p>
  <p>
    <%= f.label :categories_list %><br />
    <%= f.text_field :categories_list %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
