<%= link_to "Add Product", new_dashboard_product_path %>
<hr>
<h2>Import Products</h2>
<%= form_tag import_dashboard_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</br>
<hr>
<table border="1">
<th>Image</th>
<th>Title</th>
<th>Price</th>
<th></th>
<th></th>
  <% @products.each_with_index do |product,i| %>
  <tr>
    <td>
      <div class="span1" id="<%= i+1 %>">
        <%= image_tag product.photo_url.to_s %>
      </div>
    </td>
    <td><%= link_to product.title, dashboard_product_path(product) %></td>
    <td><%= number_to_currency(product.price/100.0) %></td>
    <td><%= link_to("Edit Product", edit_dashboard_product_path(product)) %></td>
    <td>  <% if product.visible %>
    <%= link_to("Retire", vizzi_flip_dashboard_products_path(product), method: 'post', class:'button') %>
  <% else %>
    <%= link_to("Re-Activate", vizzi_flip_dashboard_products_path(product), method: 'post', class:'button') %>
  <% end %></td>
  </tr>
<% end %>
</table>

