<div class="well">
  <div class="container">
    <h4>Order Stats</h4>
  </div>
  <div class="container">
    
  </div>
</div>
<table class="table table-bordered table-hover">
  <th>Order ID</th>
  <th>Status</th>
  <th>Full Name</th>
  <th>Email</th>
  <th>Last Update</th>
  <th>Created At</th>
  <th>Subtotal</th>
<% @orders.each do |order| %>
  <tr>
    <td><%= link_to "Order #{order.id}", dashboard_order_path(order) %></td>
    <td><%= order.status %></td>
    <td><%= order.user.username %></td>
    <td><%= order.user.email %></td>
    <td><%= time_ago_in_words(order.updated_at) %></td>
    <td><%= order.created_at %></td>
    <td><%= number_to_currency(order.subtotal/100.00) %></td>
  </tr>
<% end %>
</table>
