<div>
<div class="container">
  <%= image_tag "banner_draft1.png" %>
</div>

<div class="container" id="big_box">
  <% @panel_items[0..2].each do |product| %>
  <div class="container" id="inner_box">
     <div class="ribbon-wrapper-green">
        <div class="ribbon-green">SALE</div>
     </div>
    <span id="panel3_item_name">
      <%= link_to product.title[0..20], product_path(product), :class => "disabled", :id => "panel-links" %>
    </span>
  <%= link_to image_tag(product.photo_url, :size => "240x220"), product_path(product), :class => "disabled" %>
  </div>
  <% end %>

  

</div>

<div id="lander_middle_marketing">
  <%= image_tag "middle_marketing_copy.png" %>
</div>

<!-- ************* 8 Panels *************  -->

<div id="lander_bottom_big_box">
  
  <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Storage Bins
      </span>
      <% image1 = @panel_items[3] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>

    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Trash Cans
      </span>
       <% image1 = @panel_items[4] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Woven Totes
      </span>
      <% image1 = @panel_items[5] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>
     <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Utensil Organisers
      </span>
      <% image1 = @panel_items[10] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>
  </div>

  <div id="lander_bottom_copy">
  <%= image_tag "lower_copy.png" %>
  </div>

  <div class="container" id="lander_bottom_8">
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Laundry Accessories
      </span>
      <% image1 = @panel_items[11] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Kitchen Utensils
      </span>
      <% image1 = @panel_items[12] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Shoe Racks
      </span>
      <% image1 = @panel_items[7] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <span id="panel4_item_name">
      Drawer Storage
      </span>
      <% image1 = @panel_items[9] %>
      <%= image_tag image1.photo_url, :size => "260x240" %>
    </div>
  </div>
</div>
<div class="footer">
  <div id="footer-div">
    <div id="footer-segment-logo">
      <%= image_tag "all_white.png", :size => "160x180" %>
    </div>
    <div id="footer-segment">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
    </div>
    <div id="footer-segment-no-border">
      <li></li>
      <li></li>
      <li></li>
    </div>
  </div>
</div>
