<div>
<div class="container">
  <%= image_tag "banner_draft1.png" %>
</div>

<div class="container" id="big_box">
  <div class="container" id="inner_box">
    <table width="100%" height="100%" align="center" valign="center">
  <% image1 = @panel_items[0] %>
  <%= image_tag image1.photo_url, :size => "240x220" %>
</table>
  </div>
  <div class="container" id="inner_box">
   <% image1 = @panel_items[1] %>
  <%= image_tag image1.photo_url, :size => "240x220" %>
  </div>
  <div class="container" id="inner_box">
  <% image1 = @panel_items[2] %>
  <%= image_tag image1.photo_url, :size => "240x220" %>
  </div>
</div>

<div id="lander_middle_marketing">
</div>

<div id="lander_bottom_big_box">
  
  <div class="container" id="lander_top_8">
    <div class="container" id="bottom_inner_box">
      <% image1 = @panel_items[0] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>

    <div class="container" id="bottom_inner_box">
       <% image1 = @panel_items[1] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <% image1 = @panel_items[2] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>
     <div class="container" id="bottom_inner_box">
      <% image1 = @panel_items[2] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>
  </div>

  <div id="lander_bottom_copy"></div>

  <div class="container" id="lander_bottom_8">
    <div class="container" id="bottom_inner_box">
      <% image1 = @panel_items[2] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <% image1 = @panel_items[2] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <% image1 = @panel_items[2] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>
    <div class="container" id="bottom_inner_box">
      <% image1 = @panel_items[2] %>
      <%= image_tag image1.photo_url, :size => "240x220" %>
    </div>
  </div>
</div>
<div class="footer">
  <div id="footer-div">
    <div id="footer-segment-logo">
      <%= image_tag "all_white.png", :size => "160x180" %>
    </div>
    <div id="footer-segment">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
    </div>
    <div id="footer-segment-no-border">
      
    </div>
  </div>
</div>
