
<div class="container">
  <%= image_tag "banner_draft1.png" %>
</div>

<div class="container" id="big_box">
  <% @panel_items[0..2].each do |product| %>
  <div class="container" id="inner_box">
    <% if product.discount? %>
     <div class="ribbon-wrapper-green">
        <div class="ribbon-green"><%= product.discount %>% off</div>
     </div>
     <% end %>
    <span id="panel3_item_name">
      <%= link_to product.title[0..20], product_path(product), :class => "disabled", :style=>'color:#FFFFFF' %>
    </span>
  <%= link_to image_tag(product.photo_url, :size => "240x220"), product_path(product), :class => "disabled" %>
  </div>
  <% end %>

</div>

<div id="lander_middle_marketing">
  <%= image_tag "middle_copy.png" %>
</div>

<!-- ************* 8 Panels *************  -->

<div id="lander_bottom_big_box">

  <div class="container" id="lander_top_8">
    <% @panel_items[3..6].each do |product| %>
    <div class="container" id="bottom_inner_box">
      <% if product.discount? %>
       <div class="ribbon-wrapper-green">
          <div class="ribbon-green"><%= product.discount %>% off</div>
       </div>
       <% end %>
      <span id="panel4_item_name">
      <%= link_to product.title[0..18], product_path(product), :class => "disabled", :style=>'color:#FFFFFF'%>
      </span>
      <%= link_to image_tag(product.photo_url, :size => "260x240"), product_path(product), :class => "disabled" %>
    </div>
    <% end %>
  </div>


  <div id="lander_bottom_copy">
    <%= image_tag "lower_copy.png" %>
  </div>

  <div class="container" id="lander_top_8">
    <% @panel_items[7..10].each do |product| %>
    <div class="container" id="bottom_inner_box">
      <% if product.discount? %>
       <div class="ribbon-wrapper-green">
          <div class="ribbon-green"><%= product.discount %>% off</div>
       </div>
      <% end %>
      <span id="panel4_item_name">
      <%= link_to product.title[0..18], product_path(product), :class => "disabled", :style=>'color:#FFFFFF'%>
      </span>
      <%= link_to image_tag(product.photo_url, :size => "260x240"), product_path(product), :class => "disabled" %>
    </div>
    <% end %>
  </div>
</div>
