<div class="">

  <h1><%= @product.title %></h1>
  
  <p class="lead"><%= image_tag( @product.photo_url ) %></p>
  <p class="lead"><%= @product.long_description %></p>
  <p class="lead">$<%= @product.price / 100.00 %></p>
  <p>
    Categories:
    <% @product.categories.each do |cat| %>
      <%= link_to cat.name, category_path(cat) %>
    <% end %>
  </p>
  <%= link_to "Add to Cart", "#{cart_path}?increase=1&id=#{@product.id}", :method => "put", class:'button' %>

</div>
