<% if @shopping_cart %>
  <% if params[:controller] == "products" || params[:controller] == "categories" %>
  <li class="active">
    <a href="<%= cart_path %>" class="">
      Cart
      <span class="navbar-unread"><%= @shopping_cart.count %></span>
    </a>
      <%- if @shopping_cart.count > 0 %> 
    <ul>
      <% @shopping_cart.each do |product,count| %>
      <li>
        <a href="<%= product_path(product)%>"><%= count %> x <%= product.title.to_s[0..22] %>...</a>
        <ul>
          <li><%= link_to "increase '+1'", cart_path( increase: 1, id: product.id), method: "put", id: "increase_count"  %></li>
          <li><%= link_to "decrease '-1'", cart_path( decrease: 1, id: product.id), method: "put", id: "decrease_count"  %></li>
        </ul>
      </li>
      <% end %>
      <li class="divider">.</li>
      <li class="divider">.</li>
      <li>
        <a href="#">Subtotal:$<%= subtotal(@shopping_cart) %></a>
      </li>
    </ul> <!-- /Sub menu -->
    <% end %>
  </li>
  <% end %>
<% end %>


