<% if @shopping_cart %>
<div id="shopping_cart" class="span3">
  <h3> Shopping Cart</h3>
  Total Items: <%= @shopping_cart.count %>
  <% if @shopping_cart.count > 0 %>
</br>
    <ul class="unstyled">
    <% @shopping_cart.each do |product,count| %>
      <li>
        <%= product.title %></br>Quantity:<%= count %>
        <%= link_to '<i class="icon-plus-sign"></i>'.html_safe, "/add_to_cart/#{product.id}", id:"increase_count"  %>
        <%= link_to '<i class="icon-minus-sign"></i>'.html_safe, "/decrease_count/#{product.id}", id:"decrease_count"  %>
      </li>

    <% end %>
    </ul>
  <% end %>
</div>
<% end %>
