<div class="header_nav">
  <div class="pull-left">
    <a class="logo" href="/"><img src="http://www.honeycando.com/images/hcd_logo.gif"></a>
    <ul id="header">
      <li><%= link_to("Products", products_path)%></li>
      <li><%= link_to("Categories", categories_path)%></li>
      <% if logged_in? %>
        <li><%= link_to "#{current_user.username.capitalize}'s Account", orders_path %></li>
        <li><%= link_to "Logout", logout_path %></li>
      <% else %>
        <li><%= link_to "Login", login_path %> | <%= link_to "Sign Up", new_user_path %></li>
      <% end %>
    </ul>
  </div>
  <div>
    
  </div>
  <div class="pull-right">
    <%= render partial: 'layouts/cart' %>
  </div>
</div>


