<% if session[:total_views] < 3 %>
<a href="#myModal" role="button" class="btn btn-warning btn-block" data-toggle="modal">Please Read</a>
<% end %>
<%if logged_in? %>
  <%if current_user.admin == true %>
     <%= link_to "Enter Admin Dashboard", dashboard_root_path, class:"btn btn-block" %>
  <% end %>
<% end %>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="nav-collapse collapse">
      <div class="container">
        
        <div id="logo">
        <!-- ************** First ***************** -->
          <%= logo %>
        </div>
        <div id="nav-menu-items">
          <ul class="nav pull-right">
            <li><%# link_to "Products", products_path %></li>
            <%= render partial: 'layouts/cart' %>
            <li><%= link_to "Categories", categories_path %></li>
            <% if logged_in? %>
                <li><%= link_to "#{current_user.username.capitalize}'s Account", orders_path %></li>
                <li><%= link_to "Logout", logout_path %></li>
            <% else %>
                <li><%= link_to "Login", login_path %></li>
                <li><%= link_to "Sign Up", new_user_path %></li>
            <% end %>
          </ul>
        </div>
          <form id="search-bar" method="get" action="/products" >
          <input id="speech-input-field" style="width:275px" autocomplete="off" placeholder="i'm looking for..." name="q" type="text" data-provide="typeahead" data-source="<%= @search_terms %>" x-webkit-speech onwebkitspeechchange="onChange()"/>
          <button class="btn btn-danger" id="submitbutton" type="submit" name="Search">Search</button>
        </form>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Button to trigger modal -->

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Welcome to the Honey-Can-Do Concept Store!</h3>
  </div>
  <div class="modal-body">
    <p class="lead">We built this store for a gSchool project. The credit card processor only accepts fake number '4242 4242 4242 4242' Any purchases made are not real, and the product will not be shipped to you. </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
    function onChange() {
        trigger('click');
    }
</script>
