<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Honey-Can-Do Store" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/flash_notices" %>

<div class="row">
  <div class="large-2 columns">
    <%= render partial: "layouts/header_nav" %>
  </div>

<%= yield %>
 
</div>

<%= javascript_include_tag "application" %>
</body>
</html>


