<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Honey-Can-Do Store" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



</head>
<body>

<div class="container">
   <div class="row span12">
    <%= render partial: "layouts/header_nav" %>
    
  </div> 
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span10">
      <%= render partial: "layouts/flash_notices" %>
      <%= yield %>
    </div>
  </div>
</div>


<div class="container">
  <hr>
  <%= params.inspect if Rails.env.development? %>
  <%= session.inspect if Rails.env.development? %>
</div>
</body>
</html>


