<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Honey-Can-Do Store" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
      #speech-input-field {
        width: 400px;
        height: 20px;
        padding: 10px 15px;
        font-size: 155%;
        border-radius: 10px;
        border: 1px solid #ccc;
        outline: 0;
      }
    </style>


</head>
<body>
<div class="navbar">
  <%= logo %>
  <%= render partial: "layouts/header_nav" %>
</div>
<%= render partial: "layouts/flash_notices" %>

<%= yield %>


<div class="container">
  <hr>
  PARAMS:<%= params.inspect if Rails.env.development? %>
</br>
<hr>
  SESSION:<%= session.inspect if Rails.env.development? %>
<hr>
  CURRENT_USER:<%= current_user.inspect if Rails.env.development? %>
  <hr>
  CURRENT_PRODUCT:<%= @product.inspect if Rails.env.development? %>
</div>
</body>
</html>


