<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Honey-Can-Do Store" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>



</head>
<body>
<div class="navbar">
  <div class="container">
    <%= render partial: "layouts/header_nav" %>
  </div>
</div> 
<div class="row">
  <div class="span2">
    <div class="container">
      <ul class="unstyled">
      <li>small sidebar</li>
      <li>small sidebar</li>
      <li>small sidebar</li>
      <li>small sidebar</li>
      <li>small sidebar</li>
      <li>small sidebar</li>
      <li>small sidebar</li>
      <li>small sidebar</li>
      </ul>
    </div>
  </div>
  <div class="span12">
    <%= render partial: "layouts/flash_notices" %>
    <%= yield %>
  </div>
</div>


<div class="container">
  <hr>
  PARAMS:<%= params.inspect if Rails.env.development? %>
</br>
<hr>
  SESSION:<%= session.inspect if Rails.env.development? %>
<hr>
  CURRENT_USER:<%= current_user.inspect if Rails.env.development? %>
  <hr>
  CURRENT_PRODUCT:<%= @product.inspect if Rails.env.development? %>
</div>
</body>
</html>


