<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Honey-Can-Do Store" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
      #speech-input-field {
        width: 400px;
        height: 20px;
        padding: 10px 15px;
        font-size: 90%;
        margin-top: 10px;
        margin-left: 75px;
        margin-right: 35px;
        border-radius: 10px;
        border: 1px solid #ccc;
        outline: 0;
      }
    </style>


</head>
<body>
<div class="navbar">
  
  <div class="container">
    <%= render partial: "layouts/header_nav" %>
  </div>
</div>
<% if flash %>
  <%= render partial: "layouts/flash_notices" %>
<% end %>
<div class="container">
  <%= image_tag "https://s3.amazonaws.com/store_engine/2013-01.jpg" %>
</div>
<%= yield %>


<div class="container">
  <hr>
  PARAMS:<%= params.inspect if Rails.env.development? %>
</br>
<hr>
  SESSION:<%= session.inspect if Rails.env.development? %>
<hr>
  CURRENT_USER:<%= current_user.inspect if Rails.env.development? %>
  <hr>
  CURRENT_PRODUCT:<%= @product.inspect if Rails.env.development? %>
</div>
<%= render partial: "layouts/footer" %>
</body>
</html>


