<!DOCTYPE html>
<html>
<head>
  <title>StoreEngine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/flash_notices" %>

<%= render partial: "layouts/header_nav" %>

<div class="span8">
  <%= yield %>
</div>

<%= render partial: "layouts/cart" %>

</body>
</html>
