<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Honey-Can-Do Store" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
   <div class="row span12">
    <%= render partial: "layouts/admin_header_nav" %>
    
  </div> 
  <div class="row-fluid">
    <div class="span2">
      <li><%= link_to "Dashboard", dashboard_root_path %></li>
     <li><%= link_to("Products", dashboard_products_path)%></li>
      <li><%= link_to("Categories", dashboard_categories_path)%></li>
    </br>
    <hr>
      <li><%= link_to "Logout", logout_path %></li>
      <dl>
        ORDERS
        <% @stats.each do |statistic|%>
          <dt><%= link_to statistic[:status], dashboard_root_path(sort: statistic[:status]) %></dt>
          <dd>count:<%= statistic[:quantity] %></dd>
        <% end %>
      </dl>
    </div>
    <div class="span10">
      <%= render partial: "layouts/flash_notices" %>
      <%= yield %>
    </div>
  </div>
</div>


<div class="container">
  <hr>
  PARAMS:<%= params.inspect if Rails.env.development? %>
</br>
<hr>
  SESSION:<%= session.inspect if Rails.env.development? %>
<hr>
  CURRENT_USER:<%= current_user.inspect if Rails.env.development? %>
   <hr>
  CURRENT_PRODUCT:<%= @product.inspect if Rails.env.development? %>
</div>
</body>
</html>


